#notification {
    display: block;
    width: 35vw; 
    z-index: 0; 
    margin-left: 0px; 
    margin-bottom: 4vh
}

#dropdownmenu {
    width: 200px;
}

#resourceimage {
    width: 100vw;
    height: 35vh;
    background-size: 100vw 35vh;
    background-repeat: no-repeat;
    background-image: url("../images/oceanpic.jpg");
}

/* iPad screen */
@media screen and (min-width: 750px) {
    #resourceimage {
        width: 100vw;
        height: 60vh;
        background-size: 100vw 60vh;
    }
}

/* Laptop screen */
@media screen and (min-width: 1100px) {
    #notification {
        width: 20vw;
    }
}

/* Mobile screen */
@media screen and (max-width: 475px) {
    #notification {
        width: 70vw;
    }
}